

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="nav__logo">
      <img alt="Angular Logo" src="../assets/logo2.png"/>
  </div>

<!--Nav bar title-->
<div class="nav__bar__main">
  <span class="nav-bar-title" routerLink=''>Home</span>
  <span class="nav-bar-title" style="color: darkgrey;cursor: none; pointer-events: none;" routerLink='add-new-contractor'>Add Contractor</span>
  <span class="nav-bar-title"  routerLink="add-new-entry">Add Entry</span>
  <span class="nav-bar-title" style="color: darkgrey;cursor: none; pointer-events: none;" routerLink="add-new-item">Add Item</span>
  <span class="nav-bar-title" routerLink="view-orders">View Orders</span>
</div>

</div>


<router-outlet></router-outlet>

<!-- <footer>
  Footer will be here
</footer> -->