 <div class="home__main">
    <div class="home__main__logo">
        <img src="../../assets/logo2.png" alt="logo">
    </div>
    <div class="home__main__note">
        <span style="font-size: 17px; text-align: center;">
            <strong style="text-decoration: underline;">Development is still in-progress,</strong>  beacuse client has not full filled his/her requirement.
            <strong style="text-decoration: underline;"> This is beta version 1.0.1</strong> <br>
            Till now we have developed your requirement. Please use it and do not forget to give feedback.<br>
            <p style="margin-top: 15px;color: #b73636;">Note - Give your priority to google chrome.If in case you are not able to access or not able see the data while using  <br>
                Please go to chrome extenstion and search <strong style="text-decoration: underline;">Allow CORS: Access-Control-Allow-Origin</strong><br>
                install it and active.
            </p>
        </span>
    </div>
</div>